@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark font-poppins;
  }
  section {
    @apply py-20;
  }
}

@layer components {
  .badge {
    @apply text-sm uppercase text-white px-3 py-1 rounded-lg border  border-white/10 inline-flex bg-gradient-to-b  from-white/10 to-transparent;
  }
  .btn-primary {
    @apply text-sm px-6 py-3 rounded-lg bg-gradient-to-b from-indigo-400  to-primary text-white;
  }
  .btn-dark {
    @apply text-sm px-6 py-3 rounded-lg bg-gradient-to-b from-black/90  to-[#1C1C22] text-white border border-white/10 ;
  }
  .card {
    @apply flex flex-col p-3 border bg-[#0b061a]/90  border-white/10 rounded-2xl;
  }
}

@layer utilities {
  .section-title {
    @apply max-w-2xl text-2xl md:text-3xl lg:text-5xl text-white font-medium mt-4 !leading-snug
  }
  .paragraph {
    @apply text-white/50 leading-relaxed tracking-wide;
  }
  .animate-pause {
    animation-play-state: paused;
  }
}

.mesh-gradient {
background-image:
radial-gradient(at 9% 71%, hsla(240,81%,25%,1) 0px, transparent 50%),
radial-gradient(at 97% 40%, hsla(232,71%,40%,1) 0px, transparent 50%);
}
.animate-fade {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.6s ease;
}
html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
